.App {
  text-align: center;
}

.app-main {
  min-height: 100vh;
  
  flex-direction: column;
  align-items: center;
  justify-content: left;
  /* font-size: calc(10px + 2vmin); */
  border: 12px dotted #ccc;
}
.flex-cntnr {
  
}
.field-name {
  max-width: 300px;
  display: inline;
}
.field-value {
  display: inline;
  max-width: 300px;
}
li {
  list-style-type: none;
  line-height: 2;
}
.App-link {
  color: #61dafb;
}
