
body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 24px;
}

input {
  padding: 8px;
  font-size: 24px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-top: 22px;
}

.addr {
  margin-top: 8px;
  font-family: monospace;
  color: #3CA4DB;
  word-break: break-all;
}

.img {
  background-image: url(https://ton.org/address/img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}

.file {
  display: none;
}
.btn {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px 13px;
  cursor: pointer;
  background-color: #3CA4DB;
  color: #fff;
  border-radius: 7px;
}

.btn-cancel {
  background-color: rgb(231, 65, 65);
}

.btn-deploy {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: rgb(19, 202, 80);
  color: #fff;
  margin-left: 20px;
}

.busy {
  opacity: 0.5;
}

.deploy-message {
  background-color: #fff9b6;
  display: inline;
  font-size: 14px;
  padding: 2px 8px;
  border: 1px solid #ccc;
}